<label for="">Account Name</label>
<input #inpName type="text" class="form-control">

<label for="">Account Status</label>
<select #selStatus  class="form-control">
    @for (st of allStatus; track $index) {
        <option [value]="st">{{ st }} </option>
    }
</select>
<button (click)="addHandler(inpName.value, selStatus.value)" class="btn btn-primary">Add Account</button>

<!-- <label for="">Account Name</label>
<input [(ngModel)]="nameValue" type="text" class="form-control">

<label for="">Account Status</label>
<select [(ngModel)]="statusValue" class="form-control">
    @for (st of allStatus; track $index) {
        <option [value]="st">{{ st }} </option>
    }
</select>
<button class="btn btn-primary">Add Account</button>
<hr>
{{ nameValue }}
<br>
{{ statusValue }} -->
