<table class="table table-striped">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Selected</th>
    <th></th>
  </thead>
  <tbody>
    @for (product of productSer.allProducts(); track $index) {
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }} </td>
        <td>{{ product.price }} </td>
        <td>
            @if (product.isSelected) {
                <button (click)="productSer.updateIsSelected(product.id)" class="btn btn-success">Selected</button>
            }
            @else {
                
                <button (click)="productSer.updateIsSelected(product.id)" class="btn btn-danger">Not Selected</button>
            }
        </td>
        <td>
            <button (click)="productSer.deleteProduct(product.id)" class="btn btn-outline-danger">Delete</button>
        </td>
      </tr>
    }
  </tbody>
</table>
